@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>在线考试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />

    <!-- Custom Theme files -->
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- Testimonials-Css -->
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="screen" property="" />
    <!-- font-awesome icons -->
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->

</head>

<body>

    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
            <h1>
                <a class="navbar-brand">
                    在线考试

                </a>
            </h1>

            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto"></ul>
            </div>
        </nav>
    </header>
    <section class="choose py-5">
        <div class="container py-md-4 mt-md-3">
            <div class="row inner_w3l_agile_grids-1 ">
                <div class="col-lg-6 w3layouts_choose_left_grid1">
                    <div class="choose_top">
                        <h4 class="mb-3 mt-3 text-white">Feel Free to Contact Our Agents Directly</h4>
                        <p class="text-white">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                        <a asp-controller="DbEms" asp-action="Loginout" class="btn btn-primary mt-3">退出登录</a>

                    </div>
                </div>

                <div class="col-lg-6 w3layouts_choose_left_grid2">
                    <form asp-action="Index">
                        <div class="row">

                            <div class="col-md-6 w3l_choose_bottom1 mt-3 pt-md-4">
                                <div class="choose_bottom_top">
                                    <i class="fas fa-globe mb-2"></i>
                                    <h5 class="card-title text-uppercase my-3">后台管理</h5>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="submit" class="btn btn-primary mt-3" value="系统管理" name="_input2" style="font-size:large" data-toggle="modal" data-target="#myModal" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 w3l_choose_bottom4">
                                <div class="choose_bottom_top">
                                    <i class="fas fa-globe mb-2"></i>
                                    <h5 class="card-title text-uppercase my-3">开始</h5>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="submit" class="btn btn-primary mt-3" value="在线考试" name="_input2" style="font-size:large" data-toggle="modal" data-target="#myModal" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
   
    <!--//newsletter-->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- carousel(for feedback) -->
    <script src="js/owl.carousel.js"></script>


    <!-- //carousel(for feedback) -->
    <!-- stats -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>

    <!-- //stats -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>

    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>


