
@{
    Layout = "_Layout_director";
}

<div id="content">
    <div class="outer-w3-agile mt-3">
        <h4 class="tittle-w3-agileits mb-4">成绩总览</h4>
        <div id="Hybridgraph" class="simple-chart1">
        </div>
    </div>
</div>