@model WebApplication8.Models.DbQu

@{
    ViewData["Title"] = "Edit";
}

<h2>修改页面</h2>

<h4>题库管理</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuId" />
            <div class="form-group">
                <label asp-for="Type" class="control-label">题型</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuId" class="control-label">职位</label>
                <select asp-for="BuId" class="form-control" asp-items="ViewBag.BuId"></select>
                <span asp-validation-for="BuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label">题目</label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionA" class="control-label">A</label>
                <input asp-for="OptionA" class="form-control" />
                <span asp-validation-for="OptionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionB" class="control-label">B</label>
                <input asp-for="OptionB" class="form-control" />
                <span asp-validation-for="OptionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionC" class="control-label">C</label>
                <input asp-for="OptionC" class="form-control" />
                <span asp-validation-for="OptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionD" class="control-label">D</label>
                <input asp-for="OptionD" class="form-control" />
                <span asp-validation-for="OptionD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAnswer" class="control-label">正确答案</label>
                <input asp-for="RightAnswer" class="form-control" />
                <span asp-validation-for="RightAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label">难度</label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="保存" class="btn btn-lg btn-primary" />

            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回题库</a>
</div>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#s1").change(function () {
                var tt = (document).getElementById("s1");
                var index = tt.selectedIndex; // 选中索引
                var text = tt.options[index].text; // 选中文本
                $.ajax({
                    url: "/DbQus/First",
                    type: "POST",
                    dataType: "text",

                    async: "true",
                    data: { text: text },
                    success: function (sub) {

                        $("#se2").html(sub);


                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown, result) {

                        alert("XMLHttpRequest.Status=" + XMLHttpRequest.status + "\ntextstatus=" + textStatus + "\nXMLHttpReqest.readyState=" + XMLHttpRequest.readyState + "\nerrorThrown=" + errorThrown);

                    }
                });

            });

        });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
