@model WebApplication8.Models.DbEm

@{
    Layout = "_Layout1";
    ViewData["Title"] = "Details";
}

<h2>在线考试系统</h2>

<form asp-action="Index">
    <table class="table">
        <thead>
            <tr>
                <td>
                    <select value="" name="_input1" style="font-size:large" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="成绩查询" name="_input1" style="font-size:large" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="试卷管理" name="_input1" style="font-size:large" />
                </td>
            </tr>


</table>
</form>
